body {
    margin:0;
    padding: 0;
    background-color: paleturquoise;
    color: black;
    font-family: 'Ubuntu Mono', monospace;
}

#root {
    margin: 0 24px;
    position: relative;
    min-height: 100vh;
}